.git
.gitignore
TODO.md
README.md
CHANGELOG.md

data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
data/backups/*.sqlite
data/favicons/*
!data/favicons/.gitkeep

.vscode
.idea
*.swp
.DS_Store
Thumbs.db
